@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-family: 'Open-Sans';
}
body {
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em 3em 3em 3em;
  background: url(../img/fondogal.png);
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.6250em 1.2500em;
  box-shadow: 0 0.1250em 1.2500em 0 rgb(0 0 0 / 10%);
  flex-direction: row;
  opacity: .9;
  z-index: 10;
}
footer a:hover {
  text-decoration: underline;
}
#Titulo{
  color: #212b36;
  padding-right: 22em;
  font-style: bold;
}
/* LOGO DEL NAVEGADOR */
.container-logo{
  display: flex;
  align-items: center;
}
.container-logo img{
  width: 4.1250em;
  border-radius: 50%;
  margin-left: 1.2500em;
}
/* LISTA DE OPCIONES DEL NAVEGADOR */
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
}
nav ul li{
  margin: 0 1.2500em;
}
nav ul li a{
  color: #262525;
  font-weight: bold;
  text-decoration: none;
}
nav ul li :hover{
  color: #f59527;
  transform: scale(1.1);
}
.pan {
  width: 17em;
  margin: 1em;
  padding: 1em;
  background-color:  #212b36;
  border-radius: 0.3750em;
}
.pan img{
 width: 15em;
 height: 15em;
 padding: 0;
 border-radius: 0.3750em;
}
.pan h3{
  color: #fff;
  font-style: bold;
  padding-top: 0.5em;
}
.pan p{
  color: #f59527;
  padding-left: 0.5em;
  font-style: bold;
}
.pan:hover {
  transform: translateY(-0.6250em);
}
.footer {
  position: relative;
  width: 100%;
  background: #24262b;
  min-height: 6.2500em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6250em 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 0.6250em;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-0.6250em);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 0.6250em;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}
.footer p {
  color: #fff;
  margin: 0.9375em 0 0.6250em 0;
  font-size: 1rem;
  font-weight: 300;
}
.icon{
  width: 1em;
  height: 1em;
}